<div class="ui padded grid">
  <div class="sixteen wide column row button raised" id="header-mobile">
      <div class="ten wide column" id="remove-padding-left">
        <a href="#/home"><img class="ui medium image left floated" id="logo-hash" src="images/logo-hash.svg" alt="slackerchat"></a>
        <div class="item" id="channel-dropdown">
          <div class="ui dropdown">
            <div class="header">
              <h1>{{ messagesCtrl.channelName }} <i class="caret down icon"></i></h1>
            </div>
            <div class="menu">
              <div class="header">
                <p>Search Channels</p>
              </div>
              <div class="ui fluid left icon input">
                <i class="search icon"></i>
                <input type="text" name="search" placeholder="Search...">
              </div>
              <div class="header">
                <p>Available Channels</p>
              </div>
              <div class="item" ng-repeat="channel in channelsCtrl.channels">
                  <a ui-sref="channels.messages({channelId: channel.$id})" ui-sref-active="selected"><img class="ui image left floated" id="hash" src="images/hash.svg" alt="hashtag">{{ channel.name }}</a>
              </div>  
              <div class="item" id="create-channel"><a ui-sref="channels.create"><i class="plus icon"></i>create a new channel</a></div>                       
            </div>
          </div>
        </div>
      </div>
      <div class="six wide column" id="menu-container">
          <div class="ui list">
              <!-- SIDEBAR -->
              <div class="ui large icon toggle button right floated">
                  <i class="content icon big"></i>
              </div>
          </div>
      </div>
  </div>
  </div>




<div class="header" id="messages-channel-active">
  <h1>{{ messagesCtrl.channelName }}</h1>
</div>

<div class="message-wrap" ng-repeat="message in messagesCtrl.messages">
  <img class="user-pic" ng-src="{{ channelsCtrl.getGravatar(message.uid) }}" />
  <div class="message-info">
    <div class="user-name">
      {{ channelsCtrl.getDisplayName(message.uid) }}
      <span class="timestamp">{{ message.timestamp | date:'short' }}</span>
    </div>
    <div class="message">
     {{ message.body }}
    </div>
  </div>
</div>

<div class="ui comments">
  <div class="comment">
    <div class="avatar-container">
      <a class="avatar">
        <img src="/images/avatar/elliot.jpg">
      </a>
    </div>
    <div class="ui card">
    <div class="content">
        <i class="right floated like icon"></i>
        <i class="right floated star icon"></i>
        <a class="author">toddler</a>
        <div class="metadata">
          <div class="date">11:53am</div>
          <div class="right floated rating">
            <i class="star icon"></i>
            5 Faves
          </div>
        </div>
        <div class="text">
          Hey, have you seen my latest video at <a href="https://www.youtube.com/watch?v=kILY0L9oTc0" target="_blank">https://www.youtube.com/watch?v=kILY0L9oTc0?</a>
        </div>
          <a href="https://www.youtube.com/watch?v=kILY0L9oTc0" target="_blank">
            <img src="/images/surfing.jpg">
          </a>
        <div class="content">
          <a class="header" href="https://www.youtube.com/watch?v=kILY0L9oTc0" target="_blank">Surfing in Hawaii</a>
          <div class="meta">
            <a>Last Watched 1 minute ago</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="comment">
    <div class="avatar-container">
      <a class="avatar">
        <img src="/images/avatar/helen.jpg">
      </a>
    </div>
    <div class="ui card">
    <div class="content">
        <i class="right floated like icon"></i>
        <i class="right floated star icon"></i>
        <a class="author">Miss Priss</a>
        <div class="metadata">
          <div class="date">11:55am</div>
          <div class="right floated rating">
            <i class="star icon"></i>
            2 Faves
          </div>
        </div>
        <div class="text">
          No, actually I haven't.  But I'm checking it out now!
        </div>
      </div>
    </div>
  </div>

  <div class="comment">
    <div class="avatar-container">
      <a class="avatar">
        <img src="/images/avatar/joe.jpg">
      </a>
    </div>
    <div class="ui card">
    <div class="content">
        <i class="right floated like icon"></i>
        <i class="right floated star icon"></i>
        <a class="author">Big Boba</a>
        <div class="metadata">
          <div class="date">11:57am</div>
          <div class="right floated rating">
            <i class="star icon"></i>
            3 Faves
          </div>
        </div>
        <div class="text">
          Wow, it looks like you really bit the dust on that last wave.  I'd love to learn, but I'll stick to the small waves here in Newport Beach.
        </div>
      </div>
    </div>
  </div>

</div>

<div class="form-wrapper">
  <form class="message-form" ng-submit="messagesCtrl.sendMessage()">
    <div class="huge ui fluid left icon input">
      <input type="text" id="input-message" ng-model="messagesCtrl.message" placeholder="Write a message..." class="form-control">
      <button class="huge ui circular icon button" id="search-button-circle" type="submit">
        <i class="white send icon"></i>
      </button>
      <i class="write icon"></i>
    </div>
  </form>
</div>


<!-- SEMANTIC MODAL DROPDOWN -->
  <script>
    $('.dropdown').dropdown({
        // you can use any ui transition
        transition: 'drop'
    });
  </script>

  <script>
    $('.right.sidebar').first()
      .sidebar('setting', 'transition', 'uncover')
      .sidebar('attach events', '.toggle.button')
      .sidebar('attach events', '.menu .item')
    ;
  </script>